*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


main{
    display: flex;
    align-items: center;
    gap: 110px;
}

.mainImg{
    width: 560px;
    height: auto;
    margin-bottom: 20px;
}

.container{
    border: none;
    margin-bottom: 120px;
    padding: 10px 35px 50px 35px;
    background: white;
    font-family: sans-serif;
    color: rgb(91, 88, 88);
    border-radius: 1px;
    text-align: center;

}

.content{
    padding: 10px 0;
}

.content .instalogo{
    width: 170px;
    margin-bottom: 10px;

}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 14px;

}

.inputs{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.input{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 280px;
    height: 35px;
    padding: 9px 8px 7px 10px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 5px;
    background-color: rgb(243, 246, 248);
    
}

.login-btn{
    width: 280px;
    height: 33px;
    background-color: rgb(66, 143, 231);
    border: 0;
    padding: 7px 15px;
    border-radius: 10px;
    color:#fff;
    font-weight: 700;
    font-size: 14px;
    
}

.forgot-buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;
}

.forgot-buttons button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    font-size: 13px;
    font-weight: 650;
    color: rgb(50, 52, 54);

}

.forgot-buttons button img{
    width: 35px;
    margin: 0;

}

.forgot-buttons button span a{

    text-decoration: none;
    font-size: 13px;
    font-weight: 650;
    font-size: 14px;
    color: rgb(66, 143, 231);

}

.seperator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 18px;
    font-size: 12px;
    font-weight: 550;
}

.seperator span:nth-child(1),
.seperator span:nth-child(3){
    width: 100%;
    height: 1px;
    background: #ccc;
    display: block;
}

.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 15px;
}
.sign-up p a{
    text-decoration: none;
    color: rgb(66, 143, 231);
    font-size: 14px;
    font-weight: 700;

}

